@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral: 0 0% 30%;
    --neutral-foreground: 240 10% 98%;

    --background: 256 48.75% 6.08%;
    --foreground: 256 7.5% 98.8%;

    --muted: 256 37.5% 22.8%;
    --muted-foreground: 256 7.5% 57.6%;

    --popover: 256 50% 9.88%;
    --popover-foreground: 256 7.5% 98.8%;

    --card: 256 50% 9.88%;
    --card-foreground: 256 7.5% 98.8%;

    --border: 256 37.5% 22.8%;
    --input: 256 37.5% 22.8%;

    --primary: 256 75% 76%;
    --primary-foreground: 256 7.5% 7.6%;

    --secondary: 256 37.5% 22.8%;
    --secondary-foreground: 256 7.5% 98.8%;

    --accent: 256 37.5% 22.8%;
    --accent-foreground: 256 7.5% 98.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 256 7.5% 98.8%;

    --ring: 256 75% 76%;

    --success: 145, 63%, 40%;
    --success-foreground: 240 10% 90%;

    --warning: 37, 90%, 51%;
    --warning-foreground: 240 10% 90%;
  }
}


@layer base {
  * {
    @apply border-border bg-background text-foreground;
  }

  html {
    @apply scroll-smooth;
  }
}

.perspective {
  perspective: 1000px;
}

.transform-style-3d:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;

}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transition-transform {
  transition: transform 0.7s;
}

.hover:rotate-y-180:hover {
  transform: rotateY(180deg);
}

.face-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.face-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}